body {
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  background: #E8EDED;
}
h1{
  color: #7A7A7A;
  text-align: right;
  font-size: 25px;
}
h2{
  color: #707070;
  text-align: left;
}
p{
  font-size: 20px;
  color: #D08F67
}

a {
  color: #D08F67;
  text-decoration: none;
}

.shape{
  margin-top: -30px;
  margin-left: -30px;
  height: 200px;
  width: 100%;
  border-radius: 0 0 0 100%;
  background-color: #CED9D9;
  position: absolute;
  z-index: -10;
}

.button{
  background-color: #792210;
  border-radius: 15px;
  padding: 5px 10px;
  color: #FFFFFF;
  text-align: center;
}

.thumbs-up{
  margin-top:20px;
  margin-left: 100px;
}
#thumbs-down{
  margin-top:20px;
  margin-left: 40px;
  border: 0;
  padding: 0;
  background:none;
}

.player-card{
  margin-top: 100px;
  margin-left: 15px;
  height: 420px;
  width: 320px;
  background-color: #CED9D9;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #CED9D9 ;

}
.player-details{
  padding: 15px;
  background-color: #E8EDED;
}
