body {
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  background: #E8EDED;
}
h1{
  color: #7A7A7A;
  float: right;
  font-size: 25px;
}
h2{
  color: #707070;
  text-align: left;
}
p{
  font-size: 20px;
  color: #D08F67
}
a {
  color: #D08F67;
  text-decoration: none;
}
.shape{
  margin-top: -30px;
  margin-left: -30px;
  height: 200px;
  width: 100%;
  border-radius: 0 0 0 100%;
  background-color: #CED9D9;
  position: absolute;
  z-index: -10;
}
/*index dashboard*/
.button{
  float: left;
  background-color: #792210;
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFFFFF;
  text-align: center;
}
/*victim*/
.thumbs-up{
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 80px;
}
#thumbs-down{
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  margin-top: 20px;
  margin-right: 80px;
  background:none;
}
.player-card{
  margin-top: 150px;
  position: center;
  height: 420px;
  width: 325px;
  background-color: #CED9D9;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #CED9D9 ;
}
.player-details{
  padding: 20px;
  position: relative;
  background-color: #E8EDED;
}
/*game*/
.avatar-image{
  float: right;
  margin-left: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #D08F67;
}
.get-options{
  background-color: #D08F67;
  border: 0;
  border-radius: 20px;
  padding: 10px 110px 10px 20px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: inherit;
}
.option-overlay{
  height: auto;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-color: #CED9D9;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.option{
  background-color: #D08F67;
  border: 0;
  position: relative;
  float: left;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: inherit;
}
.chat{
  position: absolute;
  top: 200px;
}
.bubble{
  height: auto;
  width: auto;
  border-radius: 15px 15px 0 15px;
  background-color: #CED9D9;
  position: relative;
  float: right;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: -20px;
}
.bubble-opponent{
  height: auto;
  width: auto;
  border-radius: 15px 15px 15px 0;
  background-color: #CED9D9;
  position: relative;
  float: left;
  padding: 20px;
  margin-top: 20px;
  margin-left: -20px;
}

.message{
  color: #7A7A7A;
  float: left;
  font-size: 20px;
  font-family: inherit;
}
.value{
  color: #792210;
  float: right;
  text-align: right;
  font-size: 20px;
  font-family: inherit;
  margin-left: 10px;
}